@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: "Roboto";
}

*::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-track {
   background: #333333;
}

*::-webkit-scrollbar-thumb {
   background-color: #ff6400;
   border: 1px solid #333333;
}

::selection {
   background-color: #ff6400;
   color: #fffefe;
}

body {
   background-color: #fffefe;
   width: 100vw;
   overflow-x: hidden;
}

.bg-form {
   background-image: url("../assets/images/form-bg.svg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
